Source: alvr
Section: admin
Priority: optional
Maintainer: ferreo <harderthanfire@gmail.com>
Standards-Version: 4.6.1
Build-Depends: debhelper-compat (= 13), cargo, build-essential, pkg-config, libclang-dev, libssl-dev, libasound2-dev, libjack-dev, libgtk-3-dev, libvulkan-dev, libunwind-dev, gcc, g++, yasm, nasm, curl, libx264-dev, libx265-dev, libxcb-render0-dev, libxcb-shape0-dev, libxcb-xfixes0-dev, libspeechd-dev, libxkbcommon-dev, libdrm-dev, libva-dev, libvulkan-dev, libva-dev, nvidia-cuda-toolkit,  libffmpeg-nvenc-dev
Rules-Requires-Root: no

Package: alvr
Architecture: linux-any
Depends: ${misc:Depends}, ${shlibs:Depends}, libunwind8, mesa-vulkan-drivers, libdrm2
Description: Stream VR games from your PC to your headset via Wi-Fi.
